<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f14752;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }

      .white-button {
        background-color: white;
        color: black;
        border: none;
        padding: 15px 30px;
        font-size: 2rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .white-button:hover {
        background-color: lightgray;
      }
    </style>
  </head>
  <body>
    <form method="GET" action="/listings">
      <div class="container">
        <button class="white-button">Explore WanderLust</button>
      </div>
    </form>
  </body>
</html>
